*
{
	padding: 0px;
	margin: 0px;
}

h1
{
	color: #ffffff;
	letter-spacing: 5px;
	text-align: center;
	font-family: "Geneva", "Verdana", sans-serif;
	padding: 30px 0px
}

a
{
	color: #000000;
	font-family: "Geneva", "Verdana", sans-serif;
}

p
{
	color: #000000;
	font-family: "Geneva", "Verdana", sans-serif;
}

.versioncontrol
{
	font-size: 14px;
	color: #000000;
	font-family: "Geneva", "Verdana", sans-serif;
}

#header
{
	background-color: #663399;
	width: 100%;
}

#main
{
	background-color: #ffeecc;
	height: 700px;
	width: 100%
}	

#footer
{
	background-color: #663399;
	height: 250px;
	width: 100%;
}

body
{
	background-color: #663399;
}

@media (orientation: portrait)
{
	h1
	{
		font-size: 60px;
	}

	a
	{
		font-size: 40px;
	}
	
	p
	{
		font-size: 40px;
	}

	#header
	{

	}
	
	#main
	{

	}	
	
	#footer
	{

	}
	
	body
	{

	}
}

@media (orientation: landscape)
{
	h1
	{
		font-size: 80px;
	}

	a
	{
		font-size: 40px;
	}
	
	p
	{
		font-size: 45px;
	}

	#header
	{

	}
	
	#main
	{

	}	
	
	#footer
	{

	}
	
	body
	{

	}
}