*
{
padding: 0;
margin: 0;
}

#game
{
	width: 480px;
	height: 200px;
	border: 1px solid black;
}

#character
{
	width: 20px;
	height: 48px;
	background-color: red;
	position: relative;
	top: 150px;
}

#block
{
	width: 20px;
	height: 48px;
	background-color: green;
	position: relative;
	top: 130px;
	left: 480px;
	animation: block ls infinite linear;
}

@keyframes block
{
	0%{left: 480px;}
	100%{left: -40px;}
}