*
{
	padding: 0px;
	margin: 0px;
}

h1
{
	color: white;
	font-size: 40px;
}

p
{
	color: white;
}

#header
{
	background-color: #363333;
	height: 100px;
	width: 100%;
}

#main
{
	background-color: #908888;
	height: 600px;
	width: 100%;
}

#footer
{
	background-color: #363333;
	height: 100px;
	width: 100%;
}