*
{
	padding: 0px;
	margin: 0px;
}

h1
{
	color: #ffeeee;
	font-size: 50px;
}

p
{
	color: #ffeeee;
}

#main
{
	background-image: url("backdrop.png");
	height: 650px;
	width: 100%;
 	background-repeat: no-repeat;
  	background-position: center;
}

#footer1
{
	background-color: #363333;
	height: 200px;
	width: 100%;
}

#footer2
{
	background-color: #262222;
	height: 200px;
	width: 100%;
}