*
{
	padding: 0px;
	margin: 0px;
}

h1
{
	color: #ffdddd;
	font-size: 40px;
	padding: 20px;
	vertical-align: middle;
}

p
{
	color: #ffdddd;
	padding: 20px;
}

#header
{
	background-color: #363333;
	height: 100px;
	width: 100%;
}

#main
{
	background-color: #908888;
	height: 100vh;
	width: 100%;
}

#footer
{
	background-color: #363333;
	height: 100px;
	width: 100%;
}